@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Urbanist", sans-serif;
}
/* body {
  background-color: #faf9f6;
} */
html {
  scroll-behavior: smooth;
}
.post-content p {
  margin-bottom: 0.5rem;
}
.post-content h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
